/* id */
#title {
  color: pink;
}

/* clases */
.text-green {
  color: green;
}
.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.mitad {
  width: 50%;
  background-color: red;
  color: black;
}

/* Elemento */
h1,
p {
  color: red;
}

h2 {
  color: purple;
}

header {
  background-color: #f0453e;
}

ul > li {
  display: inline-block;
  padding: 10px 5px;
}

ul > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.square {
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 5px;
  animation: upAndDown 2s linear 5s infinite;
}

.square2 {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: black;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.square2:hover > .overlay {
  opacity: 1;
  visibility: visible;
  width: 100px;
  height: 100px;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(120px);
  }

  50% {
    transform: translateY(-120px);
  }

  75% {
    transform: translateY(120px);
  }

  100% {
    transform: translateY(0px);
  }
}
