/* id */
#title {
  color: pink;
}

/* clases */
.text-green {
  color: green;
}
.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.mitad {
  width: 50%;
  background-color: red;
  color: black;
}

/* Elemento */
h1,
p {
  color: red;
}

h2 {
  color: purple;
}

header {
  background-color: #f0453e;
}

ul > li {
  display: inline-block;
  padding: 10px 5px;
}

ul > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
